<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de clientes</span>
            <button class="btn btn-dark btn-lg float-end" routerLink="/createClient"><i class="fa-solid fa-person-circle-plus"></i> Adicionar cliente</button>
            <table class="table mt-4">
                <thead>
                  <tr>
                    <th>Num</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de ingreso</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                      <i type="button" class="fa-regular fa-trash-can fa-lg text-danger"></i>
                      <i type="button" class="fa-regular fa-pen-to-square fa-lg text-info mx-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="This top tooltip is themed via CSS variables."></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>


