<div class="container pt-4">
    <div class="row">
        <div class="col-lg-3">            
            <div class="card text-center">
                <div class="card-body">
                    <h3>Crear Cliente</h3>
                    <form action="">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Apellido">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
